.contactos{

  width:20%;
  height: 400px;
  display:inline;

}
.nuevoMsj{
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.boxContactos{
  width: 30%;
    background: red;
}
.listaMensajes{
  width:60%;
    background: white;
    height: 400px;
}
textarea{
  width: 100%;
}
.btnEnviar{
  width: 100%;
  height: 20px;
}
.boxMensajes{
  width: 100%;
}
.App {
  text-align: center;
}
.btnEnviar{

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-main {
  display: flex;
  background-color: #222;
  height: 550px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
